.myForm {
    display: flex;
    background-color:  rgb(223, 183, 168);
    border-radius: 3px;
    padding: 1.8em;
  }
  .message {
   	margin-right: 2em; 
    display: flex;
    flex-direction: column;

  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;

  }
  .contact {
   	flex: 1; 
  }
  .contact input {
    width: 100%;
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;

  }
  .contact button {
   background: grey;
   color: white;
   border: 0;
  }
  
/* header*/
      header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

   