
    nav{
display: flex;
flex-direction: column;
align-items: stretch;



}
 nav >  a
   {
    font-weight: bold;
        font-size: 24px;
        background-color: rgb(50, 52, 54);
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        margin: 10px;

   }
   body{
  background-image: url(https://scontent.fsof8-1.fna.fbcdn.net/v/t1.15752-9/328973276_511289307844941_8170641312039725254_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=D_SI48woIcEAX94QCGF&_nc_ht=scontent.fsof8-1.fna&oh=03_AdShzDjjZxg41VNcfvW4ZLPwiPdrnF-k2MXwaC11S4WLJw&oe=641B2A86);

 }
    nav > a:hover {
          background-color: steelblue;
        }


  * {
    box-sizing: border-box; 
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;

    margin: 0;
  }
  .col-1 {
    background: rgb(143, 189, 201);
        flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  footer {
    background: skyblue;
    height: 20vh;
  }
  
  header, footer, article, nav {
    padding: 1em;
  }
   
  
  .myForm {
    display: flex;
    background-color: skyblue;
    border-radius: 3px;
    padding: 1.8em;
  }
  .message {
   	margin-right: 2em; 
    display: flex;
    flex-direction: column;

  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;

  }
  .contact {
   	flex: 1; 
  }
  .contact input {
    width: 100%;
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;

  }
  .contact button {
   background: grey;
   color: white;
   border: 0;
  }
  

      header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    header  > input{
        height: 50px;
        width: 320px;
        background-color: #CCDEDC;
        border-radius: 50px;
        border: 1px solid #CCDEDC;
    }
    header > button{
      height: 54px;
      width: 94px;
      background-color: rgb(50, 52, 54);
      color: #ffffff;
      text-transform: uppercase;
      border-style: none;
      border-radius: 50px;
        }
        header > button:hover {
          background-color: steelblue;
        }
    